workflows/woche2/woche2-2-filter-if-beispiel.json
{
  "name": "Woche 2.2 - Filter und IF Node",
  "nodes": [
    {
      "parameters": {},
      "id": "f8a9b0c1-d2e3-4f4a-5b6c-7d8e9f0a1b2c",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts",
        "options": {}
      },
      "id": "a9b0c1d2-e3f4-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "Posts abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-id-1",
              "leftValue": "={{ $json.userId }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0c1d2e3-f4a5-4b6c-7d8e-9f0a1b2c3d4e",
      "name": "Nur User 1 Posts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-id-1",
              "leftValue": "={{ $json.title.length }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
      "name": "Langer oder kurzer Titel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "kategorie",
              "value": "Langer Artikel"
            },
            {
              "name": "titel",
              "value": "={{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d2e3f4a5-b6c7-4d8e-9f0a-1b2c3d4e5f6a",
      "name": "Lang markieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "kategorie",
              "value": "Kurzer Artikel"
            },
            {
              "name": "titel",
              "value": "={{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3f4a5b6-c7d8-4e9f-0a1b-2c3d4e5f6a7b",
      "name": "Kurz markieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1130, 400]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Posts abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts abrufen": {
      "main": [
        [
          {
            "node": "Nur User 1 Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nur User 1 Posts": {
      "main": [
        [
          {
            "node": "Langer oder kurzer Titel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Langer oder kurzer Titel?": {
      "main": [
        [
          {
            "node": "Lang markieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kurz markieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
