workflows/woche2/woche2-1-set-node-transformation.json
{
  "name": "Woche 2.1 - Set Node Daten-Transformation",
  "nodes": [
    {
      "parameters": {},
      "id": "c5d6e7f8-a9b0-4c1d-2e3f-4a5b6c7d8e9f",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users",
        "options": {}
      },
      "id": "d6e7f8a9-b0c1-4d2e-3f4a-5b6c7d8e9f0a",
      "name": "Benutzer abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "vollstaendiger_name",
              "value": "={{ $json.name.toUpperCase() }}"
            },
            {
              "name": "email_domain",
              "value": "={{ $json.email.split('@')[1] }}"
            },
            {
              "name": "kurzinfo",
              "value": "={{ $json.name }} arbeitet bei {{ $json.company.name }}"
            }
          ],
          "number": [
            {
              "name": "benutzer_id",
              "value": "={{ $json.id }}"
            }
          ],
          "boolean": [
            {
              "name": "hat_firma",
              "value": "={{ $json.company !== undefined && $json.company.name !== '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e7f8a9b0-c1d2-4e3f-4a5b-6c7d8e9f0a1b",
      "name": "Daten transformieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Benutzer abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Benutzer abrufen": {
      "main": [
        [
          {
            "node": "Daten transformieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
