workflows/woche2/woche2-4-fehlerbehandlung-merge.json
{
  "name": "Woche 2.4 - Fehlerbehandlung und Merge",
  "nodes": [
    {
      "parameters": {},
      "id": "b7c8d9e0-a1b2-4c3d-4e5f-6a7b8c9d0e1f",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users",
        "options": {}
      },
      "id": "c8d9e0a1-b2c3-4d4e-5f6a-7b8c9d0e1f2a",
      "name": "Benutzer API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 200]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts",
        "options": {}
      },
      "id": "d9e0a1b2-c3d4-4e5f-6a7b-8c9d0e1f2a3b",
      "name": "Posts API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "e0a1b2c3-d4e5-4f6a-7b8c-9d0e1f2a3b4c",
      "name": "Daten zusammenf端hren",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-merge-1",
              "leftValue": "={{ $json.userId }}",
              "rightValue": "={{ $json.id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Matching Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "autor",
              "value": "={{ $json.name }}"
            },
            {
              "name": "post_titel",
              "value": "={{ $json.title }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Ergebnis formatieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "errorMessage": "=Fehler beim Abrufen der Daten: {{ $json.message }}"
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Fehler aufgetreten",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [690, 540]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Benutzer API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Posts API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Benutzer API": {
      "main": [
        [
          {
            "node": "Daten zusammenf端hren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts API": {
      "main": [
        [
          {
            "node": "Daten zusammenf端hren",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Daten zusammenf端hren": {
      "main": [
        [
          {
            "node": "Matching Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matching Filter": {
      "main": [
        [
          {
            "node": "Ergebnis formatieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler-workflow-id"
  },
  "pinData": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
