workflows/woche4/woche4-2-crud-operationen.json
{
  "name": "Woche 4.2 - CRUD Operationen (Formular zu Datenbank)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kunde-anlegen",
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
      "name": "Formular Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "kunde-webhook-id-456"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-1",
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "validation-2",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d2e3f4a5-b6c7-4d8e-9f0a-1b2c3d4e5f6a",
      "name": "Validierung",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM kunden WHERE email = '{{ $json.body.email }}'",
        "options": {}
      },
      "id": "e3f4a5b6-c7d8-4e9f-0a1b-2c3d4e5f6a7b",
      "name": "Pr端fe ob Kunde existiert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [690, 200],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "exists-check",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f4a5b6c7-d8e9-4f0a-1b2c-3d4e5f6a7b8c",
      "name": "Kunde existiert nicht?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO kunden (name, email, telefon, erstellt_am) \nVALUES (\n  '{{ $json.body.name }}', \n  '{{ $json.body.email }}', \n  '{{ $json.body.telefon || '' }}', \n  NOW()\n)\nRETURNING *",
        "options": {}
      },
      "id": "a5b6c7d8-e9f0-4a1b-2c3d-4e5f6a7b8c9d",
      "name": "Neuen Kunden anlegen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1130, 100],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "nachricht",
              "value": "Kunde erfolgreich angelegt"
            },
            {
              "name": "kunde_email",
              "value": "={{ $json.email }}"
            }
          ],
          "number": [
            {
              "name": "kunde_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b6c7d8e9-f0a1-4b2c-3d4e-5f6a7b8c9d0e",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1350, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "nachricht",
              "value": "Kunde mit dieser E-Mail existiert bereits"
            }
          ]
        },
        "options": {}
      },
      "id": "c7d8e9f0-a1b2-4c3d-4e5f-6a7b8c9d0e1f",
      "name": "Duplicate Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "nachricht",
              "value": "Validierung fehlgeschlagen: Name und g端ltige E-Mail erforderlich"
            }
          ]
        },
        "options": {}
      },
      "id": "d8e9f0a1-b2c3-4d4e-5f6a-7b8c9d0e1f2a",
      "name": "Validation Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [690, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e9f0a1b2-c3d4-4e5f-6a7b-8c9d0e1f2a3b",
      "name": "Response senden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Formular Webhook": {
      "main": [
        [
          {
            "node": "Validierung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validierung": {
      "main": [
        [
          {
            "node": "Pr端fe ob Kunde existiert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pr端fe ob Kunde existiert": {
      "main": [
        [
          {
            "node": "Kunde existiert nicht?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kunde existiert nicht?": {
      "main": [
        [
          {
            "node": "Neuen Kunden anlegen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neuen Kunden anlegen": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Response senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Error": {
      "main": [
        [
          {
            "node": "Response senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Error": {
      "main": [
        [
          {
            "node": "Response senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
