workflows/woche3/woche3-4-slack-alert-system.json
{
  "name": "Woche 3.4 - Slack Alert System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert",
        "options": {}
      },
      "id": "f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c",
      "name": "Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "alert-webhook-id-123"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alert-condition-1",
              "leftValue": "={{ $json.body.severity }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d",
      "name": "Ist es kritisch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nachricht",
              "value": "=🚨 *KRITISCHER ALERT*\n\n*System:* {{ $json.body.system }}\n*Problem:* {{ $json.body.message }}\n*Severity:* {{ $json.body.severity }}\n*Zeitstempel:* {{ $now.format('dd.MM.yyyy HH:mm:ss') }}\n\n_Bitte sofort prüfen!_"
            },
            {
              "name": "farbe",
              "value": "danger"
            }
          ]
        },
        "options": {}
      },
      "id": "b4c5d6e7-f8a9-4b0c-1d2e-3f4a5b6c7d8e",
      "name": "Kritische Nachricht",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [690, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nachricht",
              "value": "=ℹ️ *Info-Alert*\n\n*System:* {{ $json.body.system }}\n*Nachricht:* {{ $json.body.message }}\n*Severity:* {{ $json.body.severity || 'low' }}\n*Zeitstempel:* {{ $now.format('dd.MM.yyyy HH:mm:ss') }}"
            },
            {
              "name": "farbe",
              "value": "good"
            }
          ]
        },
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-4c1d-2e3f-4a5b6c7d8e9f",
      "name": "Info Nachricht",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [690, 400]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C01234ABCDE",
          "mode": "id"
        },
        "text": "={{ $json.nachricht }}",
        "otherOptions": {}
      },
      "id": "d6e7f8a9-b0c1-4d2e-3f4a-5b6c7d8e9f0a",
      "name": "Slack Nachricht senden",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [910, 300],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Alert empfangen und verarbeitet\" } }}",
        "options": {}
      },
      "id": "e7f8a9b0-c1d2-4e3f-4a5b-6c7d8e9f0a1b",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Alert Webhook": {
      "main": [
        [
          {
            "node": "Ist es kritisch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ist es kritisch?": {
      "main": [
        [
          {
            "node": "Kritische Nachricht",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Info Nachricht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kritische Nachricht": {
      "main": [
        [
          {
            "node": "Slack Nachricht senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info Nachricht": {
      "main": [
        [
          {
            "node": "Slack Nachricht senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Nachricht senden": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
