workflows/woche3/woche3-1-rest-api-post-request.json
{
  "name": "Woche 3.1 - REST API POST Request",
  "nodes": [
    {
      "parameters": {},
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "title",
              "value": "Mein neuer Post"
            },
            {
              "name": "body",
              "value": "Dies ist der Inhalt meines Posts, erstellt mit n8n."
            }
          ],
          "number": [
            {
              "name": "userId",
              "value": 1
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Daten vorbereiten",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jsonplaceholder.typicode.com/posts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }}\",\n  \"body\": \"{{ $json.body }}\",\n  \"userId\": {{ $json.userId }}\n}",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "POST Request senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Erfolgreich erstellt"
            },
            {
              "name": "post_titel",
              "value": "={{ $json.title }}"
            }
          ],
          "number": [
            {
              "name": "neue_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "Antwort verarbeiten",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [910, 300]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Daten vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten vorbereiten": {
      "main": [
        [
          {
            "node": "POST Request senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Request senden": {
      "main": [
        [
          {
            "node": "Antwort verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
