workflows/woche1/woche1-2-webhook-beispiel.json
{
  "name": "Webhook Example Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3cc8fbea-88c5-4b3a-803c-2bccd62c1922",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -352,
        -32
      ],
      "webhookId": "customer-data-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "b61955e1-95e6-4ffa-8e93-3ad0a56a966e",
      "name": "Daten verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "c6ab12bd-2e15-4653-a315-f2b54a0792ee",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        48,
        -32
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Daten verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten verarbeiten": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73091cd9-3ad7-40ea-ac58-ab0569023f61",
  "meta": {
    "instanceId": "029e2d3cea189f1c5228b09a1c5ad4063db6c115097d7502d13b4e0a328e558b"
  },
  "id": "HV9qOml0F7mH6Jnz",
  "tags": []
}