workflows/woche1/woche1-3-http-request-wetter.json
{
  "name": "Woche 1.3 - Wetter API Abfrage",
  "nodes": [
    {
      "parameters": {},
      "id": "b8c9d0e1-f2a3-4b5c-5d6e-7f8a9b0c1d2e",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "52.52"
            },
            {
              "name": "longitude",
              "value": "13.41"
            },
            {
              "name": "current_weather",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Wetter abrufen (Berlin)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "stadt",
              "value": "Berlin"
            }
          ],
          "number": [
            {
              "name": "temperatur",
              "value": "={{ $json.current_weather.temperature }}"
            },
            {
              "name": "windgeschwindigkeit",
              "value": "={{ $json.current_weather.windspeed }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a",
      "name": "Daten extrahieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Wetter abrufen (Berlin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wetter abrufen (Berlin)": {
      "main": [
        [
          {
            "node": "Daten extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
