workflows/woche1/woche1-2-webhook-beispiel.json
{
  "name": "Woche 1.2 - Webhook mit Begrüßung",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "begruessen",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4e5f-2a3b-4c5d6e7f8a9b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "12345678-1234-1234-1234-123456789012"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json.query.name || 'Gast' }}"
            },
            {
              "name": "begruessung",
              "value": "=Hallo {{ $json.query.name || 'Gast' }}! Willkommen!"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f5a-3b4c-5d6e7f8a9b0c",
      "name": "Begrüßung erstellen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": $json.begruessung, \"name\": $json.name } }}",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-4a5b-4c5d-6e7f8a9b0c1d",
      "name": "Response zurückgeben",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Begrüßung erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Begrüßung erstellen": {
      "main": [
        [
          {
            "node": "Response zurückgeben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
