workflows/woche6/woche6-praxisprojekt-onboarding.json
{
  "name": "Woche 6 - Praxisprojekt: Mitarbeiter-Onboarding System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neuer-mitarbeiter",
        "options": {}
      },
      "id": "f4a5b6c7-d8e9-4f0a-1b2c-3d4e5f6a7b8c",
      "name": "Neuer Mitarbeiter Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 400],
      "webhookId": "onboarding-webhook-abc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ma-1",
              "name": "vorname",
              "value": "={{ $json.body.vorname }}",
              "type": "string"
            },
            {
              "id": "ma-2",
              "name": "nachname",
              "value": "={{ $json.body.nachname }}",
              "type": "string"
            },
            {
              "id": "ma-3",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "ma-4",
              "name": "abteilung",
              "value": "={{ $json.body.abteilung }}",
              "type": "string"
            },
            {
              "id": "ma-5",
              "name": "startdatum",
              "value": "={{ $json.body.startdatum }}",
              "type": "string"
            },
            {
              "id": "ma-6",
              "name": "position",
              "value": "={{ $json.body.position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a5b6c7d8-e9f0-4a1b-2c3d-4e5f6a7b8c9d",
      "name": "Mitarbeiter-Daten",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [470, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO mitarbeiter (\n  vorname,\n  nachname,\n  email,\n  abteilung,\n  position,\n  startdatum,\n  status,\n  erstellt_am\n) VALUES (\n  '{{ $json.vorname }}',\n  '{{ $json.nachname }}',\n  '{{ $json.email }}',\n  '{{ $json.abteilung }}',\n  '{{ $json.position }}',\n  '{{ $json.startdatum }}',\n  'onboarding',\n  NOW()\n)\nRETURNING *",
        "options": {}
      },
      "id": "b6c7d8e9-f0a1-4b2c-3d4e-5f6a7b8c9d0e",
      "name": "Mitarbeiter in DB anlegen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [690, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Onboarding-Tasks für neuen Mitarbeiter generieren\nconst mitarbeiter = $input.first().json;\n\nconst tasks = [\n  {\n    titel: 'E-Mail-Account einrichten',\n    verantwortlich: 'IT',\n    prioritaet: 'hoch',\n    frist_tage: 3\n  },\n  {\n    titel: 'Hardware bereitstellen (Laptop, Monitor)',\n    verantwortlich: 'IT',\n    prioritaet: 'hoch',\n    frist_tage: 5\n  },\n  {\n    titel: 'Arbeitsplatz vorbereiten',\n    verantwortlich: 'Facility',\n    prioritaet: 'mittel',\n    frist_tage: 7\n  },\n  {\n    titel: 'Zugänge zu Systemen einrichten',\n    verantwortlich: 'IT',\n    prioritaet: 'hoch',\n    frist_tage: 3\n  },\n  {\n    titel: 'Onboarding-Buddy zuweisen',\n    verantwortlich: 'HR',\n    prioritaet: 'mittel',\n    frist_tage: 5\n  },\n  {\n    titel: 'Welcome-Package vorbereiten',\n    verantwortlich: 'HR',\n    prioritaet: 'niedrig',\n    frist_tage: 7\n  }\n];\n\n// Für jede Task ein Item erstellen\nconst taskItems = tasks.map(task => {\n  const fristDatum = new Date();\n  fristDatum.setDate(fristDatum.getDate() + task.frist_tage);\n  \n  return {\n    json: {\n      mitarbeiter_id: mitarbeiter.id,\n      mitarbeiter_name: `${mitarbeiter.vorname} ${mitarbeiter.nachname}`,\n      mitarbeiter_email: mitarbeiter.email,\n      task_titel: task.titel,\n      verantwortlich: task.verantwortlich,\n      prioritaet: task.prioritaet,\n      frist: fristDatum.toISOString().split('T')[0],\n      status: 'offen'\n    }\n  };\n});\n\nreturn taskItems;"
      },
      "id": "c7d8e9f0-a1b2-4c3d-4e5f-6a7b8c9d0e1f",
      "name": "Onboarding-Tasks generieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO onboarding_tasks (\n  mitarbeiter_id,\n  titel,\n  verantwortlich,\n  prioritaet,\n  frist,\n  status,\n  erstellt_am\n) VALUES (\n  {{ $json.mitarbeiter_id }},\n  '{{ $json.task_titel }}',\n  '{{ $json.verantwortlich }}',\n  '{{ $json.prioritaet }}',\n  '{{ $json.frist }}',\n  '{{ $json.status }}',\n  NOW()\n)\nRETURNING *",
        "options": {}
      },
      "id": "d8e9f0a1-b2c3-4d4e-5f6a-7b8c9d0e1f2a",
      "name": "Tasks in DB speichern",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1130, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEETS_ONBOARDING_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Onboarding Tasks",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mitarbeiter": "={{ $json.mitarbeiter_name }}",
            "email": "={{ $json.mitarbeiter_email }}",
            "task": "={{ $json.task_titel }}",
            "verantwortlich": "={{ $json.verantwortlich }}",
            "prioritaet": "={{ $json.prioritaet }}",
            "frist": "={{ $json.frist }}",
            "status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "e9f0a1b2-c3d4-4e5f-6a7b-8c9d0e1f2a3b",
      "name": "In Google Sheets eintragen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1350, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Alle Tasks für Zusammenfassung sammeln\nconst tasks = $input.all();\nconst mitarbeiter = tasks[0].json;\n\nconst tasksByDepartment = {};\n\ntasks.forEach(task => {\n  const dept = task.json.verantwortlich;\n  if (!tasksByDepartment[dept]) {\n    tasksByDepartment[dept] = [];\n  }\n  tasksByDepartment[dept].push({\n    titel: task.json.task_titel,\n    prioritaet: task.json.prioritaet,\n    frist: task.json.frist\n  });\n});\n\nreturn [{\n  json: {\n    mitarbeiter_name: mitarbeiter.mitarbeiter_name,\n    mitarbeiter_email: mitarbeiter.mitarbeiter_email,\n    tasks_nach_abteilung: tasksByDepartment,\n    gesamt_tasks: tasks.length\n  }\n}];"
      },
      "id": "f0a1b2c3-d4e5-4f6a-7b8c-9d0e1f2a3b4c",
      "name": "Tasks aggregieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 400]
    },
    {
      "parameters": {
        "fromEmail": "hr@firma.de",
        "toEmail": "={{ $json.mitarbeiter_email }}",
        "subject": "=Herzlich Willkommen bei uns, {{ $json.mitarbeiter_name.split(' ')[0] }}!",
        "emailType": "html",
        "message": "=<h2>Herzlich Willkommen!</h2>\n\n<p>Lieber {{ $json.mitarbeiter_name.split(' ')[0] }},</p>\n\n<p>wir freuen uns sehr, dass Sie Teil unseres Teams werden!</p>\n\n<p>Ihr Onboarding-Prozess wurde gestartet. Wir haben <strong>{{ $json.gesamt_tasks }} Tasks</strong> für verschiedene Abteilungen angelegt, um alles für Ihren Start vorzubereiten.</p>\n\n<h3>Was passiert als Nächstes?</h3>\n<ul>\n  <li>Sie erhalten in Kürze Ihre Zugangsdaten</li>\n  <li>Ihr Arbeitsplatz wird vorbereitet</li>\n  <li>Ein Onboarding-Buddy wird Ihnen zugeteilt</li>\n  <li>Am ersten Tag erhalten Sie Ihr Welcome-Package</li>\n</ul>\n\n<p>Bei Fragen stehen wir Ihnen jederzeit zur Verfügung!</p>\n\n<p>Beste Grüße,<br>\nIhr HR-Team</p>",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Welcome Email an Mitarbeiter",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1790, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C_HR_CHANNEL",
          "mode": "id"
        },
        "text": "=👋 *Neuer Mitarbeiter im Onboarding*\n\n*Name:* {{ $json.mitarbeiter_name }}\n*E-Mail:* {{ $json.mitarbeiter_email }}\n*Tasks erstellt:* {{ $json.gesamt_tasks }}\n\n*Abteilungen mit Tasks:*\n{{ Object.keys($json.tasks_nach_abteilung).map(dept => `• ${dept}: ${$json.tasks_nach_abteilung[dept].length} Tasks`).join('\\n') }}\n\nWelcome-E-Mail wurde versendet! ✉️",
        "otherOptions": {}
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Slack Notification HR",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1790, 400],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Benachrichtigungen für einzelne Abteilungen vorbereiten\nconst data = $input.first().json;\nconst departments = ['IT', 'HR', 'Facility'];\n\nconst notifications = departments.map(dept => {\n  const deptTasks = data.tasks_nach_abteilung[dept] || [];\n  \n  return {\n    json: {\n      abteilung: dept,\n      mitarbeiter_name: data.mitarbeiter_name,\n      tasks: deptTasks,\n      anzahl_tasks: deptTasks.length\n    }\n  };\n}).filter(item => item.json.anzahl_tasks > 0);\n\nreturn notifications;"
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Abteilungs-Notifications vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 500]
    },
    {
      "parameters": {
        "fromEmail": "hr@firma.de",
        "toEmail": "={{ $json.abteilung.toLowerCase() }}@firma.de",
        "subject": "=Onboarding-Tasks für neuen Mitarbeiter - {{ $json.mitarbeiter_name }}",
        "emailType": "html",
        "message": "=<h2>Onboarding: Neue Tasks für {{ $json.abteilung }}</h2>\n\n<p>Für den neuen Mitarbeiter <strong>{{ $json.mitarbeiter_name }}</strong> wurden {{ $json.anzahl_tasks }} Tasks angelegt:</p>\n\n<ul>\n  {{ $json.tasks.map(t => `<li><strong>${t.titel}</strong> - Priorität: ${t.prioritaet} - Frist: ${t.frist}</li>`).join('') }}\n</ul>\n\n<p>Bitte überprüfen Sie die Tasks im Onboarding-Sheet oder in der Datenbank.</p>\n\n<p>Vielen Dank für Ihre Unterstützung!</p>\n<p>HR-Team</p>",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Email an Abteilungen",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2010, 500],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"mitarbeiter\": $json.mitarbeiter_name, \"tasks_erstellt\": $json.gesamt_tasks, \"message\": \"Onboarding-Prozess gestartet\" } }}",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2230, 400]
    }
  ],
  "connections": {
    "Neuer Mitarbeiter Webhook": {
      "main": [
        [
          {
            "node": "Mitarbeiter-Daten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mitarbeiter-Daten": {
      "main": [
        [
          {
            "node": "Mitarbeiter in DB anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mitarbeiter in DB anlegen": {
      "main": [
        [
          {
            "node": "Onboarding-Tasks generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding-Tasks generieren": {
      "main": [
        [
          {
            "node": "Tasks in DB speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks in DB speichern": {
      "main": [
        [
          {
            "node": "In Google Sheets eintragen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "In Google Sheets eintragen": {
      "main": [
        [
          {
            "node": "Tasks aggregieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks aggregieren": {
      "main": [
        [
          {
            "node": "Welcome Email an Mitarbeiter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notification HR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Abteilungs-Notifications vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Email an Mitarbeiter": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification HR": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abteilungs-Notifications vorbereiten": {
      "main": [
        [
          {
            "node": "Email an Abteilungen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email an Abteilungen": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["woche6", "praxisprojekt", "onboarding", "hr"],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
