workflows/woche6/woche6-2-ecommerce-automation.json
{
  "name": "Woche 6.2 - Praxisprojekt E-Commerce Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bestellung",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Bestellungs-Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "ecommerce-webhook-xyz"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "order-1",
              "name": "bestellung_id",
              "value": "={{ $json.body.bestellung_id }}",
              "type": "string"
            },
            {
              "id": "order-2",
              "name": "kunde_id",
              "value": "={{ $json.body.kunde_id }}",
              "type": "number"
            },
            {
              "id": "order-3",
              "name": "kunde_email",
              "value": "={{ $json.body.kunde_email }}",
              "type": "string"
            },
            {
              "id": "order-4",
              "name": "produkte",
              "value": "={{ $json.body.produkte }}",
              "type": "array"
            },
            {
              "id": "order-5",
              "name": "gesamtbetrag",
              "value": "={{ $json.body.gesamtbetrag }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Bestelldaten extrahieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-1",
              "leftValue": "={{ $json.bestellung_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "valid-2",
              "leftValue": "={{ $json.kunde_email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "valid-3",
              "leftValue": "={{ $json.produkte.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Bestellung validieren",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO bestellungen (\n  bestellung_id,\n  kunde_id,\n  kunde_email,\n  gesamtbetrag,\n  status,\n  erstellt_am\n) VALUES (\n  '{{ $json.bestellung_id }}',\n  {{ $json.kunde_id }},\n  '{{ $json.kunde_email }}',\n  {{ $json.gesamtbetrag }},\n  'neu',\n  NOW()\n)\nRETURNING *",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Bestellung in DB speichern",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [910, 200],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lagerbestand für alle Produkte prüfen\nconst bestellung = $input.first().json;\nconst produkte = bestellung.produkte;\n\n// In realer Anwendung: DB-Query für jeden Artikel\n// Hier simuliert mit Mock-Data\nconst lagerbestand = {\n  1: 50,   // Laptop\n  2: 120,  // Maus\n  3: 30,   // Tastatur\n  4: 0     // Monitor (ausverkauft)\n};\n\nlet alleVerfuegbar = true;\nconst pruefErgebnisse = [];\n\nprodukte.forEach(produkt => {\n  const verfuegbar = lagerbestand[produkt.id] >= produkt.menge;\n  \n  pruefErgebnisse.push({\n    produkt_id: produkt.id,\n    produkt_name: produkt.name,\n    bestellmenge: produkt.menge,\n    lagerbestand: lagerbestand[produkt.id] || 0,\n    verfuegbar: verfuegbar\n  });\n  \n  if (!verfuegbar) {\n    alleVerfuegbar = false;\n  }\n});\n\nreturn [{\n  json: {\n    bestellung_id: bestellung.bestellung_id,\n    kunde_email: bestellung.kunde_email,\n    gesamtbetrag: bestellung.gesamtbetrag,\n    alle_produkte_verfuegbar: alleVerfuegbar,\n    produkt_pruefung: pruefErgebnisse,\n    nicht_verfuegbar: pruefErgebnisse.filter(p => !p.verfuegbar)\n  }\n}];"
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Lagerbestand prüfen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stock-check",
              "leftValue": "={{ $json.alle_produkte_verfuegbar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Alle Produkte verfügbar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE bestellungen \nSET \n  status = 'bestaetigt',\n  bestaetigt_am = NOW()\nWHERE bestellung_id = '{{ $json.bestellung_id }}'",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "Status auf bestätigt setzen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1570, 100],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Rechnung generieren\nconst bestellung = $input.first().json;\n\nconst rechnungsNummer = `RE-${bestellung.bestellung_id}`;\nconst rechnungsDatum = new Date().toISOString().split('T')[0];\n\nconst rechnung = {\n  rechnungs_nummer: rechnungsNummer,\n  bestellung_id: bestellung.bestellung_id,\n  datum: rechnungsDatum,\n  kunde_email: bestellung.kunde_email,\n  gesamtbetrag: bestellung.gesamtbetrag,\n  produkte: bestellung.produkt_pruefung.map(p => ({\n    name: p.produkt_name,\n    menge: p.bestellmenge\n  })),\n  zahlungsziel: '14 Tage'\n};\n\nreturn [{ json: rechnung }];"
      },
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
      "name": "Rechnung generieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 100]
    },
    {
      "parameters": {
        "fromEmail": "bestellungen@shop.de",
        "toEmail": "={{ $json.kunde_email }}",
        "subject": "=Bestellbestätigung - {{ $json.bestellung_id }}",
        "emailType": "html",
        "message": "=<h2>Vielen Dank für Ihre Bestellung!</h2>\n\n<p>Ihre Bestellung wurde erfolgreich aufgegeben.</p>\n\n<p><strong>Bestellnummer:</strong> {{ $json.bestellung_id }}</p>\n<p><strong>Rechnungsnummer:</strong> {{ $json.rechnungs_nummer }}</p>\n<p><strong>Gesamtbetrag:</strong> {{ $json.gesamtbetrag }}€</p>\n\n<h3>Bestellte Produkte:</h3>\n<ul>\n{{ $json.produkte.map(p => `<li>${p.name} - Menge: ${p.menge}</li>`).join('') }}\n</ul>\n\n<p><strong>Zahlungsziel:</strong> {{ $json.zahlungsziel }}</p>\n\n<p>Ihre Bestellung wird in Kürze versendet.</p>\n\n<p>Mit freundlichen Grüßen<br>Ihr Shop-Team</p>",
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Bestätigungs-Email senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2010, 0],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C_SALES_CHANNEL",
          "mode": "id"
        },
        "text": "=✅ *Neue Bestellung bestätigt*\n\n*Bestellung:* {{ $json.bestellung_id }}\n*Rechnung:* {{ $json.rechnungs_nummer }}\n*Betrag:* {{ $json.gesamtbetrag }}€\n*Kunde:* {{ $json.kunde_email }}\n\nBestellung kann versendet werden! 📦",
        "otherOptions": {}
      },
      "id": "d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a",
      "name": "Slack Benachrichtigung",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [2010, 100],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "success-2",
              "name": "message",
              "value": "Bestellung erfolgreich verarbeitet",
              "type": "string"
            },
            {
              "id": "success-3",
              "name": "bestellung_id",
              "value": "={{ $json.bestellung_id }}",
              "type": "string"
            },
            {
              "id": "success-4",
              "name": "rechnungs_nummer",
              "value": "={{ $json.rechnungs_nummer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "Success Response vorbereiten",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [2230, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE bestellungen \nSET \n  status = 'warteliste',\n  notizen = 'Nicht alle Produkte verfügbar'\nWHERE bestellung_id = '{{ $json.bestellung_id }}'",
        "options": {}
      },
      "id": "f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c",
      "name": "Status auf Warteliste setzen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1570, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "bestellungen@shop.de",
        "toEmail": "={{ $json.kunde_email }}",
        "subject": "=Bestellung verzögert - {{ $json.bestellung_id }}",
        "emailType": "html",
        "message": "=<h2>Ihre Bestellung ist eingegangen</h2>\n\n<p>Vielen Dank für Ihre Bestellung. Leider sind derzeit nicht alle Produkte verfügbar.</p>\n\n<p><strong>Bestellnummer:</strong> {{ $json.bestellung_id }}</p>\n\n<h3>Nicht verfügbare Produkte:</h3>\n<ul>\n{{ $json.nicht_verfuegbar.map(p => `<li>${p.produkt_name} (bestellt: ${p.bestellmenge}, verfügbar: ${p.lagerbestand})</li>`).join('') }}\n</ul>\n\n<p>Wir werden Sie informieren, sobald alle Produkte verfügbar sind.</p>\n\n<p>Alternativ können Sie die Bestellung anpassen oder stornieren.</p>\n\n<p>Mit freundlichen Grüßen<br>Ihr Shop-Team</p>",
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d",
      "name": "Verzögerungs-Email senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1790, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "delay-1",
              "name": "status",
              "value": "delayed",
              "type": "string"
            },
            {
              "id": "delay-2",
              "name": "message",
              "value": "Bestellung auf Warteliste - nicht alle Produkte verfügbar",
              "type": "string"
            },
            {
              "id": "delay-3",
              "name": "bestellung_id",
              "value": "={{ $json.bestellung_id }}",
              "type": "string"
            },
            {
              "id": "delay-4",
              "name": "fehlende_produkte",
              "value": "={{ $json.nicht_verfuegbar }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "b4c5d6e7-f8a9-4b0c-1d2e-3f4a5b6c7d8e",
      "name": "Delay Response vorbereiten",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-1",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "error-2",
              "name": "message",
              "value": "Bestellung ungültig - bitte überprüfen Sie Ihre Eingaben",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-4c1d-2e3f-4a5b6c7d8e9f",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [910, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "d6e7f8a9-b0c1-4d2e-3f4a-5b6c7d8e9f0a",
      "name": "Response zurückgeben",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2450, 300]
    }
  ],
  "connections": {
    "Bestellungs-Webhook": {
      "main": [
        [
          {
            "node": "Bestelldaten extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestelldaten extrahieren": {
      "main": [
        [
          {
            "node": "Bestellung validieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestellung validieren": {
      "main": [
        [
          {
            "node": "Bestellung in DB speichern",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestellung in DB speichern": {
      "main": [
        [
          {
            "node": "Lagerbestand prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lagerbestand prüfen": {
      "main": [
        [
          {
            "node": "Alle Produkte verfügbar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alle Produkte verfügbar?": {
      "main": [
        [
          {
            "node": "Status auf bestätigt setzen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status auf Warteliste setzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status auf bestätigt setzen": {
      "main": [
        [
          {
            "node": "Rechnung generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechnung generieren": {
      "main": [
        [
          {
            "node": "Bestätigungs-Email senden",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Benachrichtigung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestätigungs-Email senden": {
      "main": [
        [
          {
            "node": "Success Response vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Benachrichtigung": {
      "main": [
        [
          {
            "node": "Success Response vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response vorbereiten": {
      "main": [
        [
          {
            "node": "Response zurückgeben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status auf Warteliste setzen": {
      "main": [
        [
          {
            "node": "Verzögerungs-Email senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verzögerungs-Email senden": {
      "main": [
        [
          {
            "node": "Delay Response vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Response vorbereiten": {
      "main": [
        [
          {
            "node": "Response zurückgeben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Response zurückgeben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
