workflows/woche5/woche5-1-sub-workflow-architektur.json
{
  "name": "Woche 5.1 - Master Workflow mit Sub-Workflows",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bestellung",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Bestellung Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "bestellung-webhook-789"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "bestellung_id",
              "value": "={{ $json.body.bestellung_id }}",
              "type": "string"
            },
            {
              "id": "assign-2",
              "name": "kunde_email",
              "value": "={{ $json.body.kunde_email }}",
              "type": "string"
            },
            {
              "id": "assign-3",
              "name": "produkte",
              "value": "={{ $json.body.produkte }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "Input vorbereiten",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "workflowId": "{{ SUB_WORKFLOW_ID_VALIDIERUNG }}",
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
      "name": "Sub: Daten validieren",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.validierung_erfolgreich }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Validierung OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "workflowId": "{{ SUB_WORKFLOW_ID_LAGERCHECK }}",
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a",
      "name": "Sub: Lagerbestand prüfen",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stock-check",
              "leftValue": "={{ $json.auf_lager }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "Auf Lager?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "workflowId": "{{ SUB_WORKFLOW_ID_BESTELLUNG }}",
        "options": {}
      },
      "id": "f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c",
      "name": "Sub: Bestellung verarbeiten",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1570, 100]
    },
    {
      "parameters": {
        "workflowId": "{{ SUB_WORKFLOW_ID_NOTIFICATION }}",
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d",
      "name": "Sub: Benachrichtigung senden",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1790, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "nachricht",
              "value": "Bestellung erfolgreich verarbeitet"
            },
            {
              "name": "bestellung_id",
              "value": "={{ $json.bestellung_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b4c5d6e7-f8a9-4b0c-1d2e-3f4a5b6c7d8e",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2010, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "nachricht",
              "value": "Produkte nicht auf Lager"
            }
          ]
        },
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-4c1d-2e3f-4a5b6c7d8e9f",
      "name": "Lager Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "nachricht",
              "value": "Validierung fehlgeschlagen"
            },
            {
              "name": "fehler",
              "value": "={{ $json.fehler }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d6e7f8a9-b0c1-4d2e-3f4a-5b6c7d8e9f0a",
      "name": "Validation Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e7f8a9b0-c1d2-4e3f-4a5b-6c7d8e9f0a1b",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2230, 300]
    }
  ],
  "connections": {
    "Bestellung Webhook": {
      "main": [
        [
          {
            "node": "Input vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input vorbereiten": {
      "main": [
        [
          {
            "node": "Sub: Daten validieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub: Daten validieren": {
      "main": [
        [
          {
            "node": "Validierung OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validierung OK?": {
      "main": [
        [
          {
            "node": "Sub: Lagerbestand prüfen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub: Lagerbestand prüfen": {
      "main": [
        [
          {
            "node": "Auf Lager?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auf Lager?": {
      "main": [
        [
          {
            "node": "Sub: Bestellung verarbeiten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lager Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub: Bestellung verarbeiten": {
      "main": [
        [
          {
            "node": "Sub: Benachrichtigung senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub: Benachrichtigung senden": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lager Error": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Error": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
